*.txt
/ext/**
/dist/**
/node_modules/**
/sln/*.suo
/sln/.vs/**
/generated/**
idd.heatmapworker.js
/.grunt/**
/.tscache/**
/typings/**
# JS Map files
src/viewer/*.js.map

# JS files
src/viewer/*.js
!src/viewer/MathUtils.js
!src/viewer/Chart.header.js
!src/viewer/Chart.footer.js

test/manual/.baseDir.ts
test/manual/.baseDir.js
