/samples/**
/sln/**
/src/**
.travis.yml
.npmignore
.gitignore
_SpecRunner.html
.bowerrc
jsconfig.json
Gruntfile.js
IDDSamples.html
package.json
tsd.json
RELEASE_NOTES.md
/.vscode/**
/test/**
!/dist/**
