/samples/**
/sln/**
/src/**
.travis.yml
.npmignore
.gitignore
_SpecRunner.html
.bowerrc
jsconfig.json
Gruntfile.js
IDDSamples.html
package.json
/generated/**
/.vscode/**
/test/**
!/dist/**
/.tscache/**
/.grunt/**
