.idd-plot-master
{
    position: relative;
    background-color: white;
    color: black;
    -ms-touch-action: none;
}

.idd-plot-dependant
{
    position: absolute;
    display: block;
}

.idd-plot-canvas
{
    position: absolute;
}

.idd-axis
{
    overflow: hidden;
    cursor: default;
}

.idd-axis-label
{
    position: absolute;
    display: block;
    float: left;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.idd-figure-container
{
    position: absolute;
}

.idd-dom-marker
{
    position: absolute;
    overflow: hidden;
    display: block;
}

.idd-title
{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.idd-horizontalTitle
{
    text-align: center;
    font-size: smaller;
}

.idd-tooltip
{
    background-color: rgb(249, 251, 195);
    color: black;
    border: 1px solid gray;
    font-size: smaller;
    -moz-box-shadow: 0 0 1em gray;
    -webkit-box-shadow: 0 0 1em gray;
    box-shadow: 0 0 1em gray; 
    padding: 5px;
    position: absolute;
    display: block;
}

.idd-tooltip-coordinates
{
    color: gray;
}

.idd-tooltip-item
{
    margin-bottom: 5px;
}

.idd-verticalTitle
{
    font-size: smaller;
    height: 100%; 
    transform: rotate(270deg);
    transform-origin: 50% 50%; 
    -ms-transform: rotate(270deg);
    -ms-transform-origin: 50% 50%; 
    -transform: rotate(270deg);
    -transform-origin: 50% 50%;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
}

.unselectable
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*legend elements*/
.idd-legend
{
    background-color: #f5f5f5;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.12);
    padding: 5px;
    max-height: 400px;
    max-width: 210px;
    cursor: default;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
}
.idd-legend-item
{
    /*position: relative;*/
    width: 210px;
    height: auto;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0, 0.2);
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 2px;
    margin-bottom: 6px;   
    cursor: pointer;
    display: inline-block;
}
.idd-legend-item-title
{    
    width: 170px;
    vertical-align: top;
    padding: 16px;
    height: 24px;
}
.idd-legend-item-title-name
{
    width: 80px;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    font-size: 19px;
    font-family: Segoe UI;
    margin-left: 16px;
    margin-right: 16px;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; /* для IE */
    text-overflow: ellipsis;
}
.idd-legend-item-title-thumb 
{
    width: 24px;
    height: 24px;
    display:inline-block;
}
.idd-legend-item-info
{
    width: 180px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
}
/*elements for compact legend*/
.idd-legend-compact
{
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.12);
    max-height: 400px;
    max-width: 180px;
    cursor: default;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}
.idd-legend-item-compact
{
    position: relative;
    width: 200px;
    height: auto;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.12); 
}
.idd-legend-item-title-compact
{    
    width: 170px;
    vertical-align: top;
    padding: 6px;
    height: 18px;
}
.idd-legend-item-title-name-compact
{
    width: 80px;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
    font-size: 14px;
    font-family: Segoe UI;
    margin-left: 6px;
    margin-right: 6px;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; /* для IE */
    text-overflow: ellipsis;
}
.idd-legend-item-title-thumb-compact 
{
    width: 18px;
    height: 18px;
    display:inline-block;
}
.idd-legend-item-info-compact
{
    width: 180px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
}
/*legend elements*/
.idd-legend-item-property
{    
    margin-bottom: 1px;
    font-size: smaller;
}
.idd-legend-item-palette 
{
    width: 170px; 
    margin-top: 5px; 
    margin-bottom: 5px;
}
.idd-legend-isselected-true {
    vertical-align: top;
    display:inline-block;
    float:right;
    height: 20px;
    width: 20px;
    background-image: url('icons/ic_visibility_off-grey.png');
    background-size: cover;
    z-index: 1000;
    cursor: pointer;
}
.idd-legend-isselected-false {
    vertical-align: top;
    display:inline-block;
    float:right;
    height: 20px;
    width: 20px;
    background-image: url('icons/ic_visibility-grey.png');
    background-size: cover;
    z-index: 1000;
    cursor: pointer;
}

.idd-verticalText
{
    transform: rotate(-90deg);
    transform-origin: center;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: center;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: center;
    -o-transform: rotate(-90deg);
    -o-transform-origin: center;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: center;
}